.vscode/
__pycache__/
/notes.txt
/AWS/AWS_Fundamentals.docx
/AR_VR/Introduction_to_VR.docx
/Unit_testing/Codility/Caterpillar_method/__pycache__
/SEO/Editorial_Calendar.xlsx
/SEO/keyword_distribution.xlsx
/todo.txt
/APIs & Web Scraping/FastAPI/__pycache__
/Web Development/Responsive Web Design/futureproof.html
/Web Development/Responsive Web Design/future_style.css
/Web Development/JavaScript/delete.js
/Web Development/TDD/testing_function/node_modules
/Web Development/TDD/testing_function/coverage
/Web Development/JavaScript/tempCodeRunnerFile.js