.vscode/
__pycache__/
/notes.txt
/AWS/AWS_Fundamentals.docx
/AR_VR/Introduction_to_VR.docx
/Unit_testing/Codility/Caterpillar_method/__pycache__
/SEO/Editorial_Calendar.xlsx
/SEO/keyword_distribution.xlsx
/todo.txt
/APIs & Web Scraping/FastAPI/__pycache__
/Projects/Streamlit/Google_stock_price/venv