#id1{
    background-color: rgb(209, 28, 28);
    height: 20vh;
}

#id2{
    background-color: rgb(52, 52, 175);
    height: 20vh;
}

#id3{
    background-color: rgb(24, 138, 75);
    height: 20vh;
}

#id4{
    background-color: rgb(136, 8, 61);
    height: 20vh;
}

#id5{
    background-color: rgb(24, 115, 168);
    height: 20vh;
}


#id6{
    background-color: rgb(168, 166, 24);
    height: 20vh;
}

#id7{
    background-color: rgb(10, 78, 52);
    height: 20vh;
}

#id8{
    background-color: rgb(129, 170, 34);
    height: 20vh;
}

#id9{
    background-color: rgb(190, 23, 23);
    height: 20vh;
}


