/*
https://www.w3schools.com/howto/howto_css_image_responsive.asp
*/
.responsive {
  width: 100%;
  height: auto;
}

.blue-text {
    color: blue;
  }

  h3{
      font-family: monospace;
  }

  h4{
      font-family: Lobster; 
  }

  .smaller-image{
      width: 100px;
  }

  .thick-green-border{
      border-color: green;
      border-width: 10px;
      border-style: solid;
      border-radius: 10px;
      
  }

  .background-red{
      background-color: red;
  }

  #this-is-an-id{
      background-color: silver;
  }


  /* Padding - Border - Margin */
  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box {
    background-color: yellow;
    padding: 10px;
  }

  .red-box {
    background-color: crimson;
    color: #fff;
    padding: 20px;
    margin: 20px;
  }

  .blue-box {
    background-color: blue;
    color: #fff;
    padding: 30px;
    margin: 80px;
  }

  /* 
  the top margins of the checkboxes: 10px
  the bottom margins: 15px*/
  [type="checkbox"]{margin: 10px 0px 15px 0px;}