.blue-text {
    color: blue;
  }

  h3{
      font-family: monospace;
  }

  h4{
      font-family: Lobster; 
  }

  .smaller-image{
      width: 100px;
  }

  .thick-green-border{
      border-color: green;
      border-width: 10px;
      border-style: solid;
      border-radius: 10px;
      
  }

  .background-red{
      background-color: red;
  }

  #this-is-an-id{
      background-color: silver;
  }
