
.responsive {
  /* https://www.w3schools.com/howto/howto_css_image_responsive.asp */
  width: 100%;
  height: auto;
}

.blue-text {
    color: blue;
  }

  h3{
      font-family: monospace;
  }

  h4{
      font-family: Lobster; 
  }

  .smaller-image{
      width: 100px;
  }

  .thick-green-rounded-border{
      border-color: green;
      border-width: 10px;
      border-style: solid;
      border-radius: 50%;
      
  }

  .background-red{
      background-color: red;
  }

  #this-is-an-id{
      background-color: silver;
  }


  /* Padding - Border - Margin */
  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box {
    background-color: yellow;
    padding: 10px;
  }

  .red-box {
    background-color: crimson;
    color: #fff;
    padding: 20px;
    margin: 20px;
  }

  .blue-box {
    background-color: blue;
    color: #fff;
    padding: 30px;
    margin: 80px;
  }

  /* Custom CSS for chekboxes:
  the top margins of the checkboxes: 10px
  the bottom margins: 15px*/
  [type="checkbox"]{margin: 10px 0px 15px 0px;}

.p-bold{
  font-weight: bold;
}

.hr-middle{
  margin-left: 400px;
  margin-right: 400px;
}

p.success{
  color: green;
}

p.success.feedback{
  text-decoration: underline;
}

div p span{ /* apply this css only to the span tags that are inside a p tag that are inside a div block */
  color: red;
}

a[href*="google"]{ /* Attribute selector, anything that includes google */ 
  color: orange;
}

